# =========================
# Build Output
# =========================
target/
build/

# =========================
# Allure Reports
# =========================
allure-results/
allure-report/

# =========================
# Playwright artifacts
# =========================
test-results/
playwright-report/

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# Eclipse
# =========================
.classpath
.project
.settings/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# OS
# =========================
.DS_Store